.header {
  background-image: url("./image/4459674-02 5.png");
  height: 900px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.header .content {
  transform: translate(0, 50%);
  margin-left: 10%;
  width: 40%;
  color: var(--brown);
}

.header .content .thanksgiving {
  font-family: var(--font-parisienne);
  font-size: 100px;
  font-weight: 400;
  margin-bottom: 0;
}

.header .content .sale-off-season {
  font-size: var(--title-size);
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
}

.header .content .subheading {
  color: var(--dark-brown-text);
  margin: 30px 0;
}

.header a {
  text-decoration: none;
}
.header button {
  margin-top: 30px;
  color: var(--white);
  background-color: var(--green);
  text-transform: uppercase;
  border: none;
  padding: 10px 40px;
  font-size: 24px;
}
.header button:hover {
  background-color: var(--brown);
}

.benefits {
  margin: 100px 10%;
}

.benefits .benefit-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.benefits .benefit-list .title {
  color: var(--green);
  margin-bottom: 20px;
}

.benefits .benefits1 {
  width: 370px;
}

.benefits .discription {
  color: var(--dark-brown-text);
  font-size: var(--body-text-size);
}

.benefits .content {
  padding: 20px;
}

.sale-up {
  background-color: var(--yellow);
  padding: 0;
}
.sale-up .sale {
  padding-top: 100px;
  margin: 0 auto 20px;
}

.sale-up .thanksgiving {
  margin-bottom: 50px;
  font-family: var(--font-parisienne);
  font-size: var(--font-size-53xl);
  color: var(--brown);
  text-align: center;
  font-weight: normal;
}

.sale-up .collection-list {
  display: flex;
  justify-content: space-between;
}
.sale-up .collection-list .infor {
  width: 50%;
  padding: 100px 70px;
}

.sale-up .collection-list .product {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  width: 900px;
  height: 600px;
  margin: 30px 0px 60px;
}
.sale-up .collection-list .product1 {
  background-image: url("./image/4459674-05 2.png");
}
.sale-up .collection-list .product2 {
  background-image: url("./image/4459674-06 1.png");
}
.sale-up .collection-list .title {
  text-transform: uppercase;
  color: var(--white);
  font-size: var(--font-size-29xl);
  font-weight: 700;
  margin: 0;
}

.sale-up .collection {
  font-family: var(--font-parisienne);
  font-size: var(--font-size-36xl);
  color: var(--white);
  margin: 0;
  font-weight: normal;
}

.sale-up .buy button {
  margin-top: 30px;
  padding: 10px 30px;
  text-transform: uppercase;
  color: var(--brown);
  background-color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.sale-up .buy button:hover {
  background-color: var(--brown);
  color: var(--white);
}

.time {
  display: flex;
}
.time .content {
  color: var(--dark-brown-text);
  background-color: var(--orange);
  padding: auto auto;
  width: 100%;
  height: 783px;
}

.product .name {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.product .price {
  display: flex;
  font-size: var(--title1-size);
  justify-content: center;
  margin: 10px 0 20px;
}

.product .price .old-price {
  color: var(--font-size-xl);
  text-decoration: line-through;
  font-weight: 400;
}

.product .price .new-price {
  margin-left: 10px;
  font-weight: 600;
}

.time .count-down {
  display: flex;
  justify-content: center;
}

.time .box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  background-color: var(--white);
  height: fit-content;
  margin: 68px auto;
  width: 60%;
}

.time .content .image img {
  transform: rotate(-1.62deg);
}

.time .number {
  font-weight: 700;
  font-size: var(--font-size-21xl);
  text-align: center;
}

.time .text {
  font-size: var(--font-size-sm);
}

.day,
.hour,
.mins {
  text-align: center;
  margin-right: 40px;
}

.time .content button {
  margin: 20px 25%;
  padding: 10px 20px;
  font-size: var(--body-text-size);
  border: 1px solid var(--brown);
  background-color: var(--white);
  width: 50%;
  color: var(--brown);
}
.time .content button:hover {
  background-color: var(--brown);
  color: var(--white);
}

.trending-product {
  color: var(--brown);
  padding: 0 10%;
  margin: 100px 0;
}

.trending-product .trending {
  font-family: var(--font-parisienne);
  font-size: var(--font-size-53xl);
  text-transform: capitalize;
  font-weight: normal;
  margin: 0;
}

.trending-product .products {
  font-weight: 700;
  font-size: var(--title-size);
  text-transform: uppercase;
  margin: 0;
}

.trending-product .product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trending-product .product {
  width: 570px;
  height: 720px;
  margin: 70px 0 200px;
  text-align: center;
}

.trending-product .product .image {
  height: 720px;
  margin-bottom: 30px;
}
.trending-product .product .name {
  color: var(--dark-brown-text);
}

.trending-product .action {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 100px;
}
.trending-product button {
  font-size: var(--body-text-size);
  border: 1px solid var(--brown);
  background-color: var(--white);
  color: var(--brown);
  padding: 10px 50px;
  text-transform: uppercase;
  cursor: pointer;
}
.trending-product button:hover {
  background-color: var(--brown);
  color: var(--white);
}
.testimonials {
  text-align: center;
  background-color: var(--green);
  color: var(--white);
}

.testimonials .title {
  padding-top: 50px;
  text-align: center;
  font-size: var(--font-size-53xl);
  font-family: var(--font-parisienne);
  font-weight: normal;
}

.testimonials .review .content {
  max-width: 40%;
  margin: 0 30% 30px;
  font-size: var(--body-text-size);
  font-weight: 400;
}

.testimonials .review .name {
  text-transform: uppercase;
  margin: 15px 0 25px;
  font-size: var(--body-text-size);
  font-weight: 500;
}

.testimonials .review .ava img {
  border-radius: 50%;
  margin-bottom: 50px;
}

.testimonials .review {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials .icon {
  cursor: pointer;
  font-size: 25px;
}

.blogs {
  margin: 100px 10%;
  color: var(--brown);
}

.blogs .our-latest {
  font-weight: 700;
  font-size: var(--title-size);
  margin: 0;
}

.blogs .blog-text {
  font-family: var(--font-parisienne);
  font-size: var(--title-size);
  margin-bottom: 20px;
  font-weight: normal;
  margin-top: 0;
}

.blogs .blog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blogs .blog {
  width: 370px;
}

.blogs .blog .content {
  font-size: var(--font-size-xl);
  color: var(--dark-brown-text);
}

.blogs .blog .title {
  font-weight: 600;
  margin: 30px 0 15px;
}

.blogs .blog .discription {
  margin-bottom: 30px;
}

.blogs .blog .see-more {
  padding: 10px 50px;
  font-size: var(--body-text-size);
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid var(--brown);
  color: var(--brown);
  background-color: var(--white);
  cursor: pointer;
}

.blogs .blog .see-more:hover {
  color: var(--white);
  background-color: var(--brown);
}

.promotion {
  display: flex;
  height: 706px;
}

.promotion .content {
  padding: 100px 10%;
  color: var(--white);
  background-color: var(--orange);
}

.promotion .promotion-text {
  font-size: var(--title-size);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.promotion .content .title-your {
  font-family: var(--font-parisienne);
  font-size: var(--font-size-53xl);
  margin: 0;
}

.promotion .discription {
  font-size: var(--body-text-size);
  width: 60%;
  margin: 50px 0;
}

.promotion .content button {
  padding: 10px 50px;
  font-size: var(--font-size-5xl);
  border: none;
  color: var(--brown);
  background-color: var(--white);
  cursor: pointer;
  text-transform: uppercase;
}
.promotion .content button:hover {
  color: var(--white);
  background-color: var(--brown);
}

.promotion .image {
  width: 50%;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .header {
    background-image: url("./image/4459674-08 2.png");
  }
  .header .content {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .header .content .thanksgiving {
    font-size: var(--font-size-29xl);
  }
  .header .content .sale-off-season {
    font-size: var(--font-size-11xl);
    font-weight: 700;
  }

  .header .content .subheading {
    font-size: var(--font-size-sm);
  }
  .header button {
    font-size: var(--body-text-size);
  }
  .benefits {
    margin: 30px 20px;
  }
  .benefits .benefit-list {
    flex-wrap: wrap;
    text-align: left;
  }
  .benefits .benefits1 {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .benefits .icon img {
    width: 100px;
  }
  .benefits .benefit-list .title {
    font-size: var(--body-text-size);
  }
  .benefits .discription {
    font-size: var(--font-size-sm);
  }
  .sale-up {
    background-color: var(--yellow);
    padding: 0 10px;
  }
  .sale-up .thanksgiving {
    margin-bottom: 30px;
    font-size: var(--font-size-11xl);
  }
  .sale-up .collection-list .infor {
    padding: 50px 30px;
  }
  .sale-up .collection-list {
    flex-wrap: wrap;
  }
  .sale-up .collection-list .title {
    font-size: var(--font-size-5xl);
  }
  .sale-up .collection-list .product1 {
    background-size: cover;
  }
  .sale-up .collection-list .product {
    width: 100%;
    height: 270px;
    margin: 10px 15px 15px;
  }
  .sale-up .collection {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .sale-up .buy button {
    padding: 10px 20px;
    font-size: 14px;
  }
  .time {
    flex-wrap: wrap;
  }
  .time .image img {
    width: 100%;
  }
  .time .content {
    padding: 20px;
    height: fit-content;
  }
  .time .box {
    width: 100%;
    margin: auto;
  }

  .trending-product {
    padding: 0 auto;
    margin: 50px 0;
  }
  .trending-product .trending {
    font-size: var(--font-size-11xl);
  }

  .trending-product .products {
    font-size: var(--font-size-5xl);
  }
  .trending-product .product {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 14px;
    height: fit-content;
  }

  .trending-product .product .image {
    margin-bottom: 10px;
    height: fit-content;
  }
  .trending-product .action {
    margin: 30px 0 50px;
  }
  .trending-product .product .image img {
    width: 100%;
  }
  .trending-product button {
    font-size: 12px;
    padding: 10px 20px;
  }

  .testimonials .title {
    font-size: var(--font-size-11xl);
  }

  .testimonials .review .content {
    font-size: var(--font-size-sm);
    max-width: 100%;
    margin: 10px 10% 30px;
  }
  .testimonials .author {
    max-width: 80%;
  }

  .testimonials .review .name {
    font-size: var(--font-size-sm);
  }

  .blogs {
    margin: 50px 10%;
  }

  .blogs .our-latest {
    font-size: var(--font-size-5xl);
  }

  .blogs .blog-text {
    font-size: var(--font-size-11xl);
  }

  .blogs .blog {
    width: 345px;
    margin-bottom: 30px;
  }

  .blogs .image img {
    width: 100%;
  }

  .blogs .blog .title {
    font-weight: 600;
    margin: 0;
  }

  .blogs .blog .content {
    font-size: 16px;
    text-align: center;
  }

  .blogs .blog .discription {
    font-size: var(--font-size-sm);
    margin-bottom: 10px;
  }

  .blogs .blog .see-more {
    padding: 10px 20px;
    font-size: var(--font-size-sm);
  }
  .promotion {
    flex-wrap: wrap;
    text-align: center;
    height: fit-content;
  }

  .promotion .content {
    padding: 50px 10px;
  }

  .promotion .promotion-text {
    font-size: var(--font-size-5xl);
  }

  .promotion .content .title-your {
    font-size: var(--font-size-11xl);
  }

  .promotion .discription {
    font-size: var(--font-size-sm);
    width: 100%;
  }

  .promotion .content button {
    padding: 10px 20px;
    font-size: var(--body-text-size);
  }
  .promotion .image {
    width: 678px;
  }
  .promotion .image img {
    width: 100%;
    height: 400px;
  }
}
